.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 20px;
}

.content{
    padding: 20px 10px;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}